<div class="container pt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6">
            <h3>Admin - Signin</h3>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 bg-white p-4 shadow rounded-0">
            <div class="mb-1">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control rounded-0" id="username" placeholder="username">
            </div>
            <div class="mb-3">
                <label for="user-password" class="form-label">Password</label>
                <input type="password" class="form-control rounded-0" id="user-password"
                    placeholder="password">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-info rounded-0" type="button">Signin</button>
            </div>
        </div>
    </div>
</div>