<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>

<body class="bg-light">
  {{>header}}


  </div>
  <script src="/javascripts/jquery/jquery-3.4.1.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <div class="container pt-4">
    <div id="alertBox"></div>
    {{{body}}}
  </div>



  <!-- Axios -->
  <script src="/javascripts/axios.min.js"></script>
  <script src="/javascripts/axios.js"></script>

</body>

</html>